body, ul, li {
  margin: 0;
  padding: 0;
}
ol, ul { list-style: none; }
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}
fieldset, img { border: 0; }
caption, th { text-align: left; }
q:before { content: ''; }
q:after { content: ''; }
body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: 12px;
  line-height: 1.3em;
  color: #333333;
}
h1 {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  color: #333333;
  margin: 10px 0px 10px 45px;
}
h2 {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #b02c2f;
  margin: 0;
  padding-bottom: 0.4em;
}
h3 {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #324479;
  margin: 0;
  padding-bottom: 0.8em;
  clear: both;
}
p { padding-bottom: 1.5em; }
a {
  color: #0d6dcc;
  text-decoration: none;
}
a:hover {
  color: #175492;
  text-decoration: underline;
}
strong { font-weight: bold; }
.avatar {
  float: left;
  margin: 0 34px 0 8px;
}
.about_me {
  list-style-type: disc;
  padding-left: 120px;
}
.about_me li {
  font-size: 14px;
  line-height: 24px;
}
#header_wrapper {
  height: 122px;
  background: url(/images/header_bg.png) repeat-x;
}
#header {
  width: 900px;
  height: 122px;
  margin: 0 auto;
  background: url(/images/header_highlight.png) no-repeat 40px 0;
  position: relative;
}
#logo {
  display: block;
  position: absolute;
  width: 199px;
  height: 81px;
  left: -15px;
  top: 23px;
  background: url(/images/logo.png) no-repeat;
}
#navigation {
  position: absolute;
  right: 15px;
  top: 38px;
  width: 400px;
}
#navigation li {
  float: right;
  height: 43px;
}
#navigation li a {
  display: block;
  height: 43px;
  padding: 0 14px;
  line-height: 43px;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  text-shadow: #213454 0 1px 1px;
}
#navigation li a:hover { text-decoration: underline; }
#navigation .active_tab { background: url(/images/tab_right.png) no-repeat top right; }
#navigation .active_tab a { background: url(/images/tab_left.png) no-repeat top left; }
#navigation .active_tab a:hover { text-decoration: none; }
#sub_header_wrapper { background: url(/images/sub_header_bg.png) repeat-x top #dfeff9; }
#sub_header {
  width: 900px;
  margin: 0 auto;
  padding: 30px 0;
}
#sub_header img { z-index: 1; }
#container {
  width: 900px;
  margin: 0 auto;
}
#content {
  float: left;
  width: 489px;
  padding: 30px 0 10px 0;
}
#content p {
  padding: 0 5px;
  font-size: 13px;
  line-height: 1.3em;
  margin-bottom: 1.6em;
}
#content h2 {
  padding: 0 5px 10px 5px;
  font-size: 26px;
  color: #383838;
}
#content h3 { padding: 0 5px 10px 5px; }
#content .code_example {
  position: relative;
  overflow: auto;
  padding: 15px 5px 5px 5px;
  border: 6px solid #eeeeee;
  background-color: #444444;
  margin-bottom: 30px;
  border-bottom: solid 1px #dddddd;
  font-size: 16px;
  line-height: 20px;
  -moz-box-shadow: 0 -4px 6px #dddddd;
  -webkit-box-shadow: 0 -4px 6px #dddddd;
  box-shadow: 0 -4px 6px #dddddd;
}
#content .code_example span { color: #ffefb4; }
#content .code_example .less_example {
  float: left;
  width: 210px;
  margin: 0px 15px 0 12px;
  position: relative;
  z-index: 1;
  color: #eeeeee;
}
#content .code_example img {
  position: relative;
  z-index: 0;
}
#container .about_content {
  width: 720px;
  padding-left: 40px;
}
#container .about_content p { font-size: 14px; }
#container .docs_content {
  width: 720px;
  padding-left: 40px;
}
#container .docs_content p {
  font-size: 14px;
  line-height: 18px;
}
#container .docs_content pre {
  display: block;
  color: #000000;
  background-color: #e1f0ff;
  padding: 15px;
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 15px;
  border: dotted 1px #aabbce;
  border-left: solid 2px #aabbce;
  border-right: solid 2px #aabbce;
}
#container .docs_content h3 { margin-top: 15px; }
#container .docs_content pre + h3 { margin-top: 30px; }
#container .docs_content h4 {
  font-size: 18px;
  margin-left: 5px;
}
#sidebar {
  float: right;
  width: 373px;
  height: 400px;
}
#follow {
  float: right;
  text-align: center;
  border-radius: 5;
  border: 1px solid white;
  background-color: #42ccff;
  text-shadow: 1px 1px 1px #555555;
  font-size: 14px;
  width: 140px;
  padding: 5px 5px;
  margin-bottom: 10px;
  -moz-box-shadow: 0 -1px 3px #cccccc;
  -webkit-box-shadow: 0 -1px 3px #cccccc;
  box-shadow: 0 -1px 3px #cccccc;
}
#follow a { color: #ffffff; }
#buzz {
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 0 25px 0 15px;
}
#buzz h2 { color: #40a6cf; }
#buzz ul li {
  border-top: dashed 1px #c1c1c1;
  padding: 14px 0;
  font-size: 14px;
  color: #555555;
  font-family: Georgia, serif;
  font-style: italic;
}
#buzz ul li a {
  font-weight: bold;
  font-size: 14px;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-style: normal;
}
#download {
  margin-bottom: 25px;
  position: relative;
  z-index: 2;
  margin-top: -196px;
  background-color: #ffefb4;
  width: 290px;
  padding: 30px 40px 5px 29px;
}
#download img {
  position: absolute;
  top: -7px;
}
#download #download_intro { margin: 0 0 8px 130px; }
#download code.strip {
  display: block;
  position: relative;
  background: url(/images/code_bg.png) no-repeat;
  width: 290px;
  padding: 0 30px 0 31px;
  height: 65px;
  line-height: 50px;
  left: -9px;
  color: #ffffff;
  font-size: 17px;
  font-weight: normal;
  text-shadow: #601c20 0 1px 2px;
  margin-bottom: 8px;
}
#download code.strip .dollar {
  color: #3a2929;
  text-shadow: #d47171 0 1px 0;
}
#download p {
  padding-bottom: 0.8em;
  font-size: 13px;
  line-height: 16px;
}
#download code.strip.install {
  padding-top: 10px;
  margin-bottom: -10px;
  line-height: 15px;
}
#download code.strip.install .source {
  font-size: 11px;
  margin-left: 67px;
}
#latest {
  padding: 10px;
  width: 335px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  font-size: 13px;
  -moz-box-shadow: 0 0 5px #cccccc;
  -webkit-box-shadow: 0 0 5px #cccccc;
  box-shadow: 0 0 5px #cccccc;
}
#latest h3 {
  font-size: 18px;
  font-weight: bold;
}
#footer {
  clear: both;
  text-align: center;
  padding: 25px 0;
  border-top: dashed 1px #cfcfcf;
  color: #b4b4b4;
}
#footer #copyright { color: #858585; }
